* {
    margin: 0;
    padding: 0;
    font-family: source system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search_input {
    border: none;
    max-width: 100px;
    font-size: small;
    font-weight: bolder;
}

.search_input:focus {
    outline: none;
    max-width: 200px;
    transition: max-width 0.5s ease-in-out;
}

.fancy_text {
    background-image: linear-gradient(to right, #FFB800, #FF8A00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.login_btn {
    background-color: white;
    border: none;
    box-shadow: 0px 5px 15px #ffb30e62;
    font-weight: bold;
    width: 100px;
    height: 40px;
}

.hero_section {
    background: linear-gradient(to right, #FFB800, #FF8A00);
    position: relative;
    overflow: hidden;
}


.hero_btn{
    width: 120px;
    height: 38px;
    background-color: #F172281A;
    color: #FF8A00;
    border-radius: 8px;
    border: none;
}

.hero_btn_off{
    width: 120px;
    height: 38px;
    color: #5e5e5e;
    border-radius: 8px;
    border: none;
}

.hero_search_bar{
    margin-top: 30px;
    background-color: #ececec;
    max-width: 400px;
    height: 35px;
    align-content: center;
    border-radius: 8px;
    padding-top: 5px;
}

.hero_input_text_bar{
    border: none;
    color: #5e5e5e;
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
}

.hero_input_text_bar:focus{
    outline: none;
}

.hero_search_btn{
    margin-top: 22px;
    margin-left: 13px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #FF7A7A, #F65900);
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 700;
}

.hero_noodle_image {
    position: absolute;
    width: 35%;
    right: 5%; 
    bottom: 0;
    transform: translateY(20%);
    filter: drop-shadow(-25px 25px 40px rgba(0, 0, 0, 0.45));
    animation: noodle_move 3s ease-in-out infinite;
}

.card-text{
    font-size: bold;
    font-weight: 700;
}

.card_tag{
    background-color: #f1722827;
    color: #F17228;
    font-size:medium;
    font-weight: 700;
    padding: 3px 7px 3px 7px;
    border-radius: 8px;
}

.card_img_wrapper{
    position: relative;
}

.card-img-top{
    border-radius: 15px;
    overflow: hidden;
    background-color: #5e5e5e00;
}

.discount-badge {
    position: absolute;
    top: 164px;
    left: 0px;
    background: #FFB800;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 0px 15px 0px 15px;
    font-size: 30px;  
}
.discount-badge small {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.tutorial_section{
    background-image: linear-gradient(to bottom, #ffcf6725, #FDEDCA00);
}

.tutorial_card_img{
    height: 200px; 
    max-width: 150px; 
    margin-left: 60px;
    filter: drop-shadow(-15px 15px 70px #FFB800);
}

.tutorial_card_img:hover{
    animation: tutorial_card_img_move 1s ease-in-out infinite;
}

.arrow_btn{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #FFB20E;
    border: none;
    transform: translate(0%, 200%);
    box-shadow: 10px 5px 40px #FFB20E;
}

.card{
    border: none;
}

.populer_item_row{
    overflow: hidden;
}

.populer_card_img{
    height: 300px;
    width: 250px;
    border-radius: 15px;
}

.populer_card_order_btn{
    border-radius: 8px;
    background-color: #F65900;
    box-shadow: #F65900 0px 40px 50px;
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    font-weight: 500;
}

@keyframes tutorial_card_img_move {
    0% { transform: translateY(0%); }
    50% { transform: translateY(-5%); }
    100% { transform: translateY(0%); }
}
@keyframes noodle_move {
    0% { transform: translateY(10%); }
    50% { transform: translateY(14%); }
    100% { transform: translateY(10%); }
}